/* Your existing styles */

#nav {
    background-color: #0F6CBD;
    height: 48px;
    color: #FFFFFF;
}

#nav .col-1 {
    background-color: #0F6CBD;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

#nav .col-1:hover {
    background-color: #0C3B5E;
}

#nav .custom-icon-size {
    margin: 0;
    font-size: 150%;
}

#nav .col-2 {
    background-color: #0F6CBD;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#prand {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav .col-4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#nav .col-4 .form-control {
    width: 170%;
    height: 4vh;
}

.bi-camera-video {
    margin-right: 20px;
}

.col-5 button,
#v-icon {
    cursor: pointer;
    text-decoration: none;
    background-color: #0F6CBD;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: 0;
    display: inline;
}

#v-icon {
    width: 30%;
}

.col-5 #v-icon:hover {
    background-color: #0C3B5E;
}

.col-5 button {
    margin: 0;
    padding: 0;
    width: 10%;
}

.col-5 button:hover {
    background-color: #0C3B5E;
}

/* Add media queries for responsiveness */

@media only screen and (max-width: 768px) {
    #nav .col-1 {
        width: auto;
    }

    #nav .col-4 .form-control {
        width: 100%;
    }

    #v-icon {
        width: auto;
    }

    .col-5 button {
        width: auto;
    }
}

@media only screen and (max-width: 576px) {
    /* Adjust styles for smaller screens if needed */
}
